@import "themeColours.css";

body,main{
    background: var(--background);
    font-size: 20px;
    font-family: sans-serif,serif,Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    height: 1200px;
}

h1{
    color: #363636 !important;
    padding-top: 50px;
    font-size: 1.7em;
    font-family: sans-serif;
}

.exp-row h2{
    font-size: 1.3em;
}

.expenses{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border: 2px solid black;
}

.exp-row{
    color: #363636 !important;
    align-content: center;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid  #8a8a8a;;
    padding: 20px;
}

.exp-row h3, .exp-row h2{
    padding-top: 10px;
}

.exp-col{
    width: 50%;
    padding-left: 20%;
    padding-top: 5px;
}

label{
    display: inline-block;
}

input {
    background: #fff;
    height: 35px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#submit{
    color: #f2f2f2;
    background: #e6b563;
    font-size: 0.8em;
    font-weight: bold;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    height: 35px;
    padding-bottom: 30px;
    margin: 5px;
}

#submit:hover{
    cursor: pointer;
    background: #e6cf87;
}

button{
    background: #ffeba8;
    font-size: 0.8em;
    font-weight: bold;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    height: 35px;
    width: 15%;
    margin: 5px;
}

button:hover{
    cursor: pointer;
    background: #e0cd8d;
}

#red-row{
    margin-top: 10px;
    margin-left: 10%;
    flex-wrap: wrap;
    width: 50%;
    align-content: center;
    border: solid 1px #bababa;
    color: #363636 !important;
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.hidden{
    display: none;
}
.red-col{
    width: 50%;
    padding: 10px;
}
.red-col h3, .red-col input{
    margin-top: 20px;
}

