@import "themeColours.css";


.btn-container{
    display: flex;
    flex-direction: row;
}

.main{
    display: flex;
    justify-content: center;
}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: #fff; */
    background-image: linear-gradient(to bottom right, var(--dark), #fff);
    width: 400px;
    height: 500px;
    border: var(--main) solid 1px;
    border-radius: 20px;
    padding: 10px;
}

.detail-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 400px;
}

#title{
    font-size: 30px;
    color: var(--black);
    padding: 0 0 60px 0;
}

#rtitle{
    font-size: 30px;
    color: var(--black);
}

input{
    background-color: var(--main);
    border: var(--main) solid 2px;
    border-radius: 10px;
    height: 30px;
    width: 100%;
}

.input{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

label{
    width:100%;
    color: var(--black);
    text-align: left !important;
    padding-left: 10px;
    padding-bottom: 10px;
}

.input-fields {
    padding: 5px;
    width: 100%;
}

form{
    width: 60%;
}

span{
    color: var(--black);
    font-weight: 100;
    padding-bottom: 50px;
    font-size: 50px;
}

input:required:invalid{
    border-color: var(--invalid);
}