/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

h1,h2,h3,h4,h5{
  margin: 0;
  padding: 20px 10px 20px 20px;
}

.col-orders{
  margin-top: 0;
  padding: 2%;
  height: 50px;
  text-align: center;
  margin-left: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20%;
  width: 80%;
}

.col-orders img{
  margin-top: 0;
  padding-top: 25px;
  width: 1.5%;
  height: 10px;
  transition: 0.2s;
}

.col-orders img:hover{
  cursor: pointer;
  width: 2%;
  height: 12px;
}

#order-col-head{
  padding-left: 30%;
  display: flex;
  flex-direction: row;
  gap: 5%;
}

.order-head:hover{
  cursor: pointer;
  background: #d1d1d1;
}
.active{
  padding-top: 20px;
  background: #b7b8b4;
}

